<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{title}}</title>
</head>
<body>
  <header>
    <div id="header-article" class="header-text">
      <article>
        <h1>{{title}}</h1>
        <p>linear-gradient() + background-clip + text-fill-color</p>
      </article>
    </div>
    <div id="header-main-question" class="header-text">
      <h1>Never have I ever</h1>
      <h2 class="header-question-text">{{mainQuestion}}</h2>
    </div>
  </header>
  <div id="body-button-component">
    <div id="body-button-yes" class="body-button-style">
      <button id="button-yes" class="noselect button-yes"></button>
    </div>
    <div id="body-button-no" class="body-button-style">
      <button id="button-no" class="noselect button-no"></button>
    </div>
  </div>
</body>

</html>
